/* base.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: white; */
  background: linear-gradient(135deg, #36BA98 0%, #36BA98 10%, #E9C46A 30%, #F4A261 50%, #E76F51 70%, #36BA98 90%, #36BA98 100%);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
}



h1 {
    color: white;

    text-align: center;
    font-size: 70px;  
    display: block; 
    margin-top: 0px;
    margin-bottom: 0px;

    display: flex;
    justify-content: center;
}

h2 {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    display: block;
    margin-top: 10px;
    margin-bottom: 0px;
    
}

p {

}




