/* sections.css 
Styles specific to named sections
*/


/* .banner,
.calendar-section,
.footer-section,
.committed-section {
  background: transparent; 
} */

.banner {
  /* background: linear-gradient(135deg, #36BA98 0%, #36BA98 10%, #E9C46A 30%, #F4A261 50%, #E76F51 70%, #36BA98 90%, #36BA98 100%); */
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.description-card {
  max-width: 1500px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  font-size: 16px;
  /* color: #264653; */
  color: white;
  
}

.description {
  margin-top: 40px;
  font-size: 30px;
}

.about-section {

  color: white;
  font-weight: 500;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-container {
    
}
.about-section-text {
}

.about-paragraph-div {
  display: flex;
  
}


.about-paragraph {
  
}

.calendar-section {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  background: transparent;
  font-family: sans-serif;
  padding: 20px;
  text-align: center;
  color: black;
}


.footer {
  
}

.footer-content {

}