/* sections.css 
Styles specific to named sections
*/
.banner {
  /* background-image: url("/images/clubfair-dark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  
  background: linear-gradient(135deg, #36BA98 0%, #36BA98 10%, #E9C46A 30%, #F4A261 50%, #E76F51 70%, #36BA98 90%, #36BA98 100%);
  /* background-color: #f2a07c;
  background-color: #2a7f6b;
  background-color: #f4f4f4;
  background-color: #1c1c1c;
  background-color: #f0b4a1;
  background-color: #bfe1d3; */

  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.description-card {
  max-width: 1500px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  font-size: 16px;
  color: #264653;
  
}

.description {
  margin-top: 40px;
  font-size: 30px;
}

.about-section {

  color: white;
  font-weight: 500;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-container {
    
}
.about-section-text {
}

.about-paragraph-div {
  display: flex;
  
}


.about-paragraph {
  
}

.footer {
  
}

.footer-content {

}