
body {
    /*background-color: #FBF8EF; */
    background-color: #E9C46A;
}

h1 {
    /*color: whitesmoke;*/
    color: #E76F51;
}



#first-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wall-calendar {
    width: 900px; 
    height: 500px; 
    object-fit: cover;
    object-position: 25% 25%;
}