/* body {
    background-color: #E76F51;
    color: ;
} */

body {
  background: linear-gradient(to bottom, 
    #E9C46A 0%, 
    #E9C46A 45%, 
    #36BA98 50%, 
    #36BA98 100%);
}

/* .top-third {
    background-color: #E9C46A;
    /* height: 100vh; 
    padding: 40px;
}

.middle-third {
    background-color: #36BA98;
}

*/
h1 {
    /*color: whitesmoke;*/
    color: #E76F51;

    text-align: center;
    font-size: 70px;  
    display: block; 
    margin-top: 0px;
    margin-bottom: 0px;
}

.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}


h2 {
    color: #E76F51;
    text-align: center;
    font-size: 50px;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}


/* .stair-line {
    font-size: 50px;
    color: #E76F51;
    margin-bottom: 0px;
}
.stair-line.one {
    margin-left: 300px;
    margin-bottom: 0px;
}

.stair-line.two {
    margin-left: 600px;
}
.stair-line.three {
    margin-left: 900px;
    margin-bottom: 20px;
} */

.image-row {
    display: flex;
    gap: 100px;
    justify-content: center;
}
.images {
    object-position: center;
}

.image-container {
    display: inline-block;
    width: 385px; 
    height: 385px; 
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    border: 4px solid #36BA98;
}



#black-fair-row {
    display: inline-block;
}


#black-fair {
    width: 300px; 
    height: 300px; 
    object-fit: cover;
    object-position: right;

}